{% extends "plantilla_base.html" %}

{% block title %} Contactanos {% endblock %}

{% block content %}

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}

    {{ form.Nombre.label }}
    {{ form.Nombre(size=20) }}
    {% for error in form.Nombre.errors %}
        <span style="color: red;">{{ error }}</span>
        <br/>
    {% endfor %}

    {{ form.Telefono.label }}
    {{ form.Telefono(size=20) }}
    {% for error in form.Telefono.errors %}
        <span style="color: red;">{{ error }}</span>
        <br/>
    {% endfor %}

    {{ form.Email.label }}
    {{ form.Email(type="email", size=20) }}
    {% for error in form.Email.errors %}
        <span style="color: red;">{{ error }}</span>
        <br/>
    {% endfor %}

    {{ form.Mensaje.label }}
    {{ form.Mensaje(size=20) }}
    {% for error in form.Mensaje.errors %}
        <span style="color: red;">{{ error }}</span>
        <br/>
    {% endfor %}

    {{ form.submit(class_="btn btn-primary") }}
</form>

{% endblock %}
