body {
    background-color: bisque;
}

#barra {
    margin: auto;
    width: 600px;
    list-style: none;
    border-bottom: 1px dotted #999;
    font-size: 1em; 
    display: flex; 
    justify-content: center; 
    padding: 10px 0;
}

.elem {
    font-family: 'Times New Roman', Times, serif;
    margin: 0 10px; 
    padding: 0 10px;
    border-right: 1px double #999;
    text-align: center; 
}

.elem:last-child {
    border-right: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: blueviolet;
}
